



<div class="demo-grid-list">


  <mat-card>
    <mat-card-title>Camiones de: Saul Acuña</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="4" rowHeight="400px">
        <mat-grid-tile  *ngFor="let camion of camiones">
          <img [alt]="camion.identificador" [src]="camion.img">
          <mat-grid-tile-footer>
            <h3 mat-line>{{camion.placas}}</h3>
            <span mat-line>{{camion.numero_economico}}</span>

          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
