/* You can add global styles to this file, and also import other style files */
@import 'angular-material-demo-theme.scss';

body {
  margin: 0;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
/*
.grid-test-1 > figure.mat-figure {
  justify-content: flex-start !important;
}
*/
